/* Bordered form */
:root {
  --bg-color: #121212;
  --text-color: #ffffff;
  --main-color:  rgb(22, 175, 165);
  --white-color: #fdfdfd;
  --shadow-color: rgba(255, 255, 255, 0.876);
}

#adminlogin {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  color: white; 
  padding-bottom: 50rem;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color:var(--main-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: orangered;
}

.container {
  padding: 16px;
  background-color: var(--main-color);
}

span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.backhome a {
  color:black;
}
